# skeleton

In [67]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [68]:
import json
import pandas as pd
import os

DATA_FILE = "/gdrive/MyDrive/Colab Notebooks/ssafy/data/data.json"
DUMP_FILE = "/gdrive/MyDrive/Colab Notebooks/ssafy/data/dump.pkl"

store_columns = (
    "id",  # 음식점 고유번호
    "store_name",  # 음식점 이름
    "branch",  # 음식점 지점 여부
    "area",  # 음식점 위치
    "tel",  # 음식점 번호
    "address",  # 음식점 주소
    "latitude",  # 음식점 위도
    "longitude",  # 음식점 경도
    "category",  # 음식점 카테고리
)

review_columns = (
    "id",  # 리뷰 고유번호
    "store",  # 음식점 고유번호
    "user",  # 유저 고유번호
    "score",  # 평점
    "content",  # 리뷰 내용
    "reg_time",  # 리뷰 등록 시간
)

menu_columns = (
    "id",
    "store",
    "menu_name",
    "price",
)

user_columns = (
    "id",
    "gender",
    "age",
)


def import_data(data_path=DATA_FILE):
    try:
        with open(data_path, encoding="utf-8") as f:
            data = json.loads(f.read())
    except FileNotFoundError as e:
        print(f"`{data_path}` 가 존재하지 않습니다.")
        exit(1)

    stores = []  # 음식점 테이블
    reviews = []  # 리뷰 테이블
    menus = [] # 메뉴 테이블
    users = [] # 유저 테이블
    menu_id = 0

    for d in data:
        categories = [c["category"] for c in d["category_list"]]
        stores.append(
            [
                d["id"],
                d["name"],
                d["branch"],
                d["area"],
                d["tel"],
                d["address"],
                d["latitude"],
                d["longitude"],
                "|".join(categories),
            ]
        )

        for review in d["review_list"]:
            r = review["review_info"]
            u = review["writer_info"]
            user_age = 2021 - int(u["born_year"]) + 1

            reviews.append(
                [r["id"], d["id"], u["id"], r["score"], r["content"], r["reg_time"]]
            )
            users.append(
                [u["id"], u["gender"], user_age]
            )

        for menu in d["menu_list"]:
            menus.append(
                [menu_id, d["id"], menu["menu"], menu["price"]]
            )
            menu_id +=1

    store_frame = pd.DataFrame(data=stores, columns=store_columns)
    review_frame = pd.DataFrame(data=reviews, columns=review_columns)
    memu_frame = pd.DataFrame(data=menus, columns=menu_columns)
    user_frame = pd.DataFrame(data=users, columns=user_columns)

    return {"stores": store_frame, "reviews": review_frame, "menus": memu_frame, "users":user_frame}


def dump_dataframes(dataframes):
    pd.to_pickle(dataframes, DUMP_FILE)


def load_dataframes():
    return pd.read_pickle(DUMP_FILE)


print("[*] Parsing data...")
raw_data = import_data()
print("[+] Done")

print("[*] Dumping data...")
dump_dataframes(raw_data)
print("[+] Done\n")

raw_data = load_dataframes()

[*] Parsing data...
[+] Done
[*] Dumping data...
[+] Done

In [69]:
print(raw_data["stores"].head())
# print(data["reviews"].head())
# print(data["users"].head())

   id     store_name branch  ...   latitude   longitude   category
0   1           Agal   None  ...  37.556862  126.926666   아구찜|포장마차
1   2         Assisy   None  ...  35.150746  126.890062         카페
2   3  Battered Sole   None  ...  37.535032  126.991664    피쉬앤칩스|펍
3   4      Chakyoung   None  ...  35.158587  129.175004  레스토랑|카프레제
4   5       Delabobo   None  ...  37.559904  126.840512  디저트카페|디저트

[5 rows x 9 columns]

# 무슬림친화레스토랑

In [61]:
MUSLIM_PATH = '/content/drive/MyDrive/Colab Notebooks/ssafy/data/무슬림친화레스토랑.csv'
CSV_MUSLIM_PATH = pd.read_csv(MUSLIM_PATH, engine='python', encoding='cp949')
print(CSV_MUSLIM_PATH.head())

        레스토랑명     무슬림친화도  지역  ...      휴일 주차                관광지
0       우스마니아  무슬림 자가 인증  서울  ...     NaN  X  국립중앙박물관, 이태원 쇼핑거리
1   미스터케밥 2호점   할랄 공식 인증  서울  ...     NaN  X  국립중앙박물관, 이태원 쇼핑거리
2       카파도키아  무슬림 자가 인증  부산  ...    연중무휴  O                범어사
3     올리브레스토랑  무슬림 자가 인증  인천  ...     NaN  O            송도센트럴파크
4  봄베이인도요리전문점   무슬림 프렌들리  경남  ...  매주 월요일  O          창원시립마산박물관

[5 rows x 10 columns]

# 중복값 확인

In [103]:
store_table = raw_data["stores"].copy()
muslim_table = CSV_MUSLIM_PATH.copy()

In [77]:
# store_table['full_store_name'] = store_table[['store_name', 'branch']].apply(' '.join, axis=1)
# store_table['full_store_name'] = store_table["store_name"] + " " + store_table["branch"]

In [80]:
print(store_table.head())

   id     store_name branch  ...   latitude   longitude   category
0   1           Agal   None  ...  37.556862  126.926666   아구찜|포장마차
1   2         Assisy   None  ...  35.150746  126.890062         카페
2   3  Battered Sole   None  ...  37.535032  126.991664    피쉬앤칩스|펍
3   4      Chakyoung   None  ...  35.158587  129.175004  레스토랑|카프레제
4   5       Delabobo   None  ...  37.559904  126.840512  디저트카페|디저트

[5 rows x 9 columns]

In [104]:
store_table.drop_duplicates()

            id     store_name branch  ...   latitude   longitude   category
0            1           Agal   None  ...  37.556862  126.926666   아구찜|포장마차
1            2         Assisy   None  ...  35.150746  126.890062         카페
2            3  Battered Sole   None  ...  37.535032  126.991664    피쉬앤칩스|펍
3            4      Chakyoung   None  ...  35.158587  129.175004  레스토랑|카프레제
4            5       Delabobo   None  ...  37.559904  126.840512  디저트카페|디저트
...        ...            ...    ...  ...        ...         ...        ...
459983  459996         행복부대찌개   None  ...  37.757939  127.032758
459984  459997           행복부페   None  ...  37.002743  126.944991
459985  459998           행복분식   None  ...  37.471677  127.315744
459986  459999           행복분식   None  ...  35.407860  129.158564
459987  460000           행복분식   None  ...  37.739845  127.038074

[459988 rows x 9 columns]

In [105]:
store_table.columns

Index(['id', 'store_name', 'branch', 'area', 'tel', 'address', 'latitude',
       'longitude', 'category'],
      dtype='object')

In [106]:
muslim_table.columns = ['store_name', 'muslim_friendly', 'location_region', 'food_category', 'address', 'tel', 'working_time', 'days_closed','parking','tourism']
muslim_table.head()

   store_name muslim_friendly  ... parking            tourism
0       우스마니아       무슬림 자가 인증  ...       X  국립중앙박물관, 이태원 쇼핑거리
1   미스터케밥 2호점        할랄 공식 인증  ...       X  국립중앙박물관, 이태원 쇼핑거리
2       카파도키아       무슬림 자가 인증  ...       O                범어사
3     올리브레스토랑       무슬림 자가 인증  ...       O            송도센트럴파크
4  봄베이인도요리전문점        무슬림 프렌들리  ...       O          창원시립마산박물관

[5 rows x 10 columns]

In [108]:
df_merge = pd.merge(muslim_table, store_table, on='store_name', how='left')
print(df_merge)

     store_name muslim_friendly  ...   longitude  category
0         우스마니아       무슬림 자가 인증  ...  126.995705        인도
1     미스터케밥 2호점        할랄 공식 인증  ...         NaN       NaN
2         카파도키아       무슬림 자가 인증  ...  129.092210    터키|이슬람
3       올리브레스토랑       무슬림 자가 인증  ...  128.872874
4    봄베이인도요리전문점        무슬림 프렌들리  ...         NaN       NaN
..          ...             ...  ...         ...       ...
972       카사블랑카        무슬림 프렌들리  ...  126.987046  모로코|샌드위치
973       카사블랑카        무슬림 프렌들리  ...  128.612449
974       카사블랑카        무슬림 프렌들리  ...  128.423302
975       카사블랑카        무슬림 프렌들리  ...  127.029000  모로코|샌드위치
976      카페 다스티        할랄 공식 인증  ...         NaN       NaN

[977 rows x 18 columns]

In [114]:
df_merge.drop_duplicates("store_name", inplace=True)
print(df_merge.shape)

(345, 18)

In [115]:
print(muslim_table.shape)

(347, 10)

In [116]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 345 entries, 0 to 976
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   store_name       345 non-null    object
 1   muslim_friendly  345 non-null    object
 2   location_region  345 non-null    object
 3   food_category    288 non-null    object
 4   address_x        345 non-null    object
 5   tel_x            345 non-null    object
 6   working_time     345 non-null    object
 7   days_closed      222 non-null    object
 8   parking          345 non-null    object
 9   tourism          345 non-null    object
 10  id               141 non-null    float64
 11  branch           11 non-null     object
 12  area             139 non-null    object
 13  tel_y            140 non-null    object
 14  address_y        141 non-null    object
 15  latitude         141 non-null    object
 16  longitude        141 non-null    object
 17  category         141 non-null    object
dtypes: float64(1), object(17)
memory usage: 51.2+ KB

In [117]:
345-141

204